:root {
    --funny: #fffefe;
    --main-color: #0000ff;
    --main-bg: #f0f0f0;
}

h1:last-of-type, div > h2{
    font-size: 2.1em;
}

 div > h3 {
    color: var(--main-color);
    font-size: 1.6em;
    margin: 0;
 }

header, footer {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding-bottom: 2.5vh;
    background: var(--funny);
}

footer {
    padding-top: 5.5vh;
}

.beauty-line {
    height: 4px;
    width: 90%;
    background: var(--main-color);
}


body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

aside {
    background: var(--main-bg);
    height: 75vh;
}

aside:first-of-type {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.newly {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 25vh;
    align-items: center;
}

p {
    text-align: center;
}

form:not(.newly) {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

aside:last-of-type {
    width: 60%;
    display: flex;
    flex-flow: column ;
    align-items: center;
}
.lang {
    display: flex;
    flex-flow: column ;
    align-items: center;
}
